.swal-title {
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}


.main_cut {
  padding: 5rem 0;
  display: flex;
  justify-content: center; /* center content horizontally */

  min-height: 100vh; /* make content as tall as the viewport */
  width: 100%;
  height: 100%;
}

.container_cut {
  position: relative;
}



img {
  display: block;
  width: 100%;
}

.grid-container {
  margin: 0 auto;
  padding: 0 10%;
  max-width: 65rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  grid-template-rows: repeat(12, 1fr);
}


.grid__item--bg {
  grid-column: 2 / span 9;
  z-index: 0;
  grid-row: 1 / -1;
}

.grid__item--portrait-half {
  grid-column: 6 / span 6;
  z-index: 1;
  grid-row: 1 / -1;
  /* -webkit-clip-path: polygon(5% 10%, 27% 3%, 94% 25%, 84% 98%, 39% 98%, 11% 98%, 4% 66%, 4% 34%);
  clip-path: polygon(5% 10%, 27% 3%, 94% 25%, 84% 98%, 39% 98%, 11% 98%, 4% 66%, 4% 34%); */

}

.grid__item--portrait-neck {

  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  grid-column: 6 / span 4;
  grid-row: 5 / 11;
  z-index: 3;
  width: 80%;
  margin-top: 20%;
}

.grid__item--portrait-left {
  /* -webkit-clip-path: polygon(10% 19%, 93% 15%, 90% 88%, 13% 92%);
  clip-path: polygon(10% 19%, 93% 15%, 90% 88%, 13% 92%); */
  grid-column: 1 / span 4;
  grid-row: 6 / 12;
  z-index: 4;
}

.grid__item--portrait-eye {
  /* -webkit-clip-path: polygon(44% 6%, 90% 57%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(44% 6%, 90% 57%, 82% 100%, 18% 100%, 0% 38%); */
  grid-column: 4 / span 2;
  grid-row: 2 / 5;
  z-index: 5;
  width: 80%;
  margin-top: 20%;
  justify-self: center;
}

.grid__item--portrait-shirt {

  /* clip-path: polygon(44% 6%, 100% 28%, 100% 100%, 18% 100%, 0% 38%); */
  grid-column: 8 / span 2;
  grid-row: 6 / 2;
  z-index: 6;
}

.grid__item--portrait-bg-1 {
  /* -webkit-clip-path: polygon(14% 13%, 84% 12%, 86% 34%, 90% 66%, 30% 76%, 10% 79%);
  clip-path: polygon(14% 13%, 84% 12%, 86% 34%, 90% 66%, 30% 76%, 10% 79%); */
  grid-column: 1 / span 2;
  grid-row: 1 / 4;
  z-index: 8;
}

.grid__item--portrait-bg-2 {
  /* -webkit-clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%); */
  grid-column: 11 / -1;
  grid-row: 4 / 7;
  z-index: 8;
}

.grid__item--portrait-bg-3 {
  /* -webkit-clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%); */
  grid-column: 1 / span 3;
  grid-row: 4 / 7;
  z-index: 4;
}

.grid__item--portrait-bg-4 {
  /* -webkit-clip-path: polygon(5% 4%, 94% 3%, 97% 96%, 13% 96%);
  clip-path: polygon(5% 4%, 94% 3%, 97% 96%, 13% 96%); */
  grid-column: 10 / 12;
  grid-row: 1 / 6;
  z-index: 1;
}

/* #collage{
  display: none;
} */


/* .catone {
  display:none;
}

#cat1:hover ~ .catone {
  display:block;
} */

#collage {
    opacity: 0.5;
}

#collage2 {
    opacity: 0.5;
}

#collage3 {
    opacity: 0.5;
}

#collage4 {
    opacity: 0.5;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px;  */
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}


.floating2 {
    animation-name: floating2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px;  */
}

@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 7px); }
    100%   { transform: translate(0, -0px); }
}


.floating3 {
    animation-name: floating3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px;  */
}

@keyframes floating3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }
}


.floating4 {
    animation-name: floating4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px;  */
}

@keyframes floating4 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 13px); }
    100%   { transform: translate(0, -0px); }
}


.floating5 {
    animation-name: floating5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px;  */
}

@keyframes floating5 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }
}
