$transition: all 900ms cubic-bezier(.5,.31,.29,1);
html {
   line-height: 1.8;
}

body {
   color: rgb(255,255,255);
}

h1, p {
   margin-top: 0;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style-type: none;
}

a {
   color: currentColor;
   text-decoration: none;
   border-bottom: 0.1em solid currentColor;
   padding-bottom: 0.1em;
}

h1 {
   font-size: 10vw;
   font-weight: 100;
   margin-bottom: 0;
   font-family: Georgia, serif;
}

.menu {
   margin: 0;
   padding: 0;
   height: 100vh;
   display: flex;
   background: rgb(25,25,25);

   &__item {
      flex: 1;
      transition: $transition;
      list-style-type: none;
      box-shadow: 0 0 60px rgba(0,0,0,0.5);
      position: relative;
      background: rgb(25,25,25);

      &:hover {
         flex: 3;
         transition-duration: 450ms;



         .menu__content {
            left: 5vw;
            transition-duration: 450ms;
         }
      }

      &--red:hover {
         background: rgb(255,0,0);
      }

      &--green:hover {
         background: rgb(0,175,0);
      }

      &--blue:hover {
         background: rgb(0,0,255);
      }
   }

   &__content {
      position: absolute;
      left: 0;
      padding: 2rem;
      width: 40vw;
      transition: $transition;
   }

   &__text {
      font-size: 2vw;
   }
}
